{% extends "base.html" %}

{% block title %}
Должники
{% endblock title %}


{% block header %}
<h1 class="text-center">Список должников</h1>
{% endblock header %}

{% block body %}
<div class="col-sm-12"><table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
    <thead>
    <tr>
        <th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">№</th>
        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Фамилия</th>
        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Имя</th>
        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Отчество</th>
        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Номер договора</th>
        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Сумма займа</th>
        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Процент</th>
        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Пошлина</th>
        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Итого</th>
    </tr>
    </thead>
    <tbody>
        {% for debtors in all_debtors %}
    <tr class="odd">
      <td class="dtr-control sorting_1" tabindex="0">{{ debtors.id }}</td>
      <td><a href="{% url 'debtor_detail' debtors.id %}" style="text-decoration: none;">{{ debtors.surname }}</a></td>
      <td>{{ debtors.name }}</td>
      <td>{{ debtors.lastname }}</td>
      <td>{{ debtors.contract_number }}</td>
      <td>{{ debtors.loan_amount }}</td>
      <td>{{ debtors.interest }}</td>
      <td>{{ debtors.state_duty }}</td>
      <td>{{ debtors.total }}</td>
    </tr>
      {% endfor %}
    </tbody>
    <tfoot>
    <tr><th rowspan="1" colspan="1">№</th>
        <th rowspan="1" colspan="1">Фамилия</th>
        <th rowspan="1" colspan="1">Имя</th>
        <th rowspan="1" colspan="1">Отчество</th>
        <th rowspan="1" colspan="1">Номер договора</th>
        <th rowspan="1" colspan="1">Сумма займа</th>
        <th rowspan="1" colspan="1">Процент</th>
        <th rowspan="1" colspan="1">Пошлина</th>
        <th rowspan="1" colspan="1">Итого</th>
    </tr>
    </tfoot>
  </table></div>


{% endblock body %}