{% extends "base.html" %}

{% block title %}
Должник
{% endblock title %}




{% block body %}

<div class="container">
<h1 class="text-center">Детали должника - {{ debtors.surname }}</h1>

<div class="btn-group justify-content-md-end" role="group" aria-label="Простой пример">
    <button type="button" class="btn btn-primary">Скачать PDF</button>
    <button type="button" class="btn btn-primary">Скачать Word</button>
    <button type="button" class="btn btn-primary">Печать</button>
</div>
<table class="table table-bordered border-primary">

  <thead>
    <tr>
        <th scope="col-6">Параметр</th>
        <th scope="col-6">Информация по должнику</th>
        <th scope="col-6">ФИО в родительном</th>
        <th scope="col-6">ФИО в винительном</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th scope="row">Фамилия</th>
        <th>{{ debtors.surname }}</th>
        <th>{{ declined_surname_g }}</th>
        <th>{{ declined_surname_a }}</th>
    </tr>
    <tr>
        <th scope="row">Имя</th>
        <th>{{ debtors.name }}</th>
        <th>{{ declined_name_g }}</th>
        <th>{{ declined_name_a }}</th>

    </tr>
    <tr>
        <th scope="row">Отчество</th>
        <th>{{ debtors.lastname }}</th>
        <th>{{ declined_lastname_g }}</th>
        <th>{{ declined_lastname_a }}</th>
    </tr>
    <tr>
        <th scope="row">Дата рождения</th>
        <th>{{ debtors.date_birth }}</th>
        <th> </th>
    </tr>
    <tr>
        <th scope="row">Место рождения</th>
        <th>{{ debtors.place_birth }}</th>
        <th> </th>
    </tr>
    <tr>
        <th scope="row">Номер договора</th>
        <th>{{ debtors.contract_number }}</th>
        <th> </th>
    </tr>
    <tr>
        <th scope="row">Дата займа</th>
        <th>{{ debtors.agreement_date }}</th>
        <th> </th>
    </tr>
    <tr>
        <th scope="row">Сумма займа</th>
        <th>{{ debtors.loan_amount }}</th>
        <th> </th>
    </tr>
    <tr>
        <th scope="row">Процент</th>
        <th>{{ debtors.interest }}</th>
        <th> </th>
    </tr>
    <tr>
        <th scope="row">Пошлина</th>
        <th>{{ debtors.state_duty }}</th>
        <th> </th>
    </tr>
    <tr>
        <th scope="row">Итого</th>
        <th>{{ debtors.total }}</th>
        <th> </th>
    </tr>

  

  </tbody>
</table>
</div>

{% endblock body %}